<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic.min.css") %>/>
    <script src="<%= static_path(@conn, "/vendor/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor/semantic.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor/turbolinks.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor/phoenix_html.js") %>"></script>
    <%= render_existing @view_module, String.replace(@view_template, ".html", ".css.html")%>
    <title>Carbon</title>
  </head>
  <body>
    <div class="ui menu">
      <div class="item">
        <%= link to: "/" do %><i class="ui big share alternate icon"></i><% end %>
      </div>
      <%= if assigns[:current_user] do %>
        <div class="right item">
          <%#TODO this path must be user_path :show, @current_user.id once we've got a controller for the users %>
          <%= link to: "users/#{@current_user.id}/edit" do %>
            <div class="ui image label">
              <img src="<%=@current_user.image_url%>">
              <%=@current_user.full_name%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="ui container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <%= render_existing @view_module, String.replace(@view_template, ".html", ".js.html")%>
  </body>
</html>
