<style>
  .empty-list-message {
    text-align: center; 
    color: rgba(0,0,0,0.5);
  }
  form.item a {
    color: rgba(0,0,0,.87);
  }
  .underlined {
    text-decoration: underline;
  }
  .ui.feed>.event>.content>.meta .links {
    padding-top: 10px;
  }
  .ui.feed>.event>.content>.meta .link {
    display: inline;
    padding-right: 5px;
  }
</style>
