<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @account_tags, occurrences: @account_tag_occurs, tagged: "account" %>
<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @contact_tags, occurrences: @contact_tag_occurs, tagged: "contact" %>
<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @deal_tags, occurrences: @deal_tag_occurs, tagged: "deal" %>
<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @event_tags, occurrences: @event_tag_occurs, tagged: "event" %>
<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @project_tags, occurrences: @project_tag_occurs, tagged: "project" %>
<%= render Carbon.TagView, "_show_card.html", conn: @conn, tags: @timesheet_tags, occurrences: @timesheet_tag_occurs, tagged: "timesheet" %>
