<div class="ui">
  <%= if @address do %>
  <address>
    <%= @address.street_address %><br/>
    <%= @address.locality %> <%= @address.region %>
    <%= @address.postal_code %><br/>
    <%= @address.country_name %>
  </address>
  <% end %>
</div>

