<div class="ui segment">
  <%= if @address do %>
  <address>
    <%= @address.street_address %>
    <%= @address.locality %>
    <%= @address.postal_code %>
    <%= @address.region %>
    <%= @address.country_name %>
  </address>
  <% end %>
</div>

