<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/reset.css") %>/>
<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/container.css") %>/>
<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/form.css") %>/>
<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/button.css") %>/>
<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/dropdown.css") %>/>
<link rel="stylesheet" href=<%= static_path(@conn, "/vendor/semantic-ui/components/transition.css") %>/>
