<style>
  .tiny {
    font-size: 13px;
  }
  .ui.feed>.event>.content>.meta .links {
    padding-top: 10px;
  }
  .ui.feed>.event>.content>.meta .link {
    display: inline;
    padding-right: 5px;
  }
  .ui.red.button a {
    color: #FFF;
  }
  .ui.small.indicating.progress {
    display: inline-flex;
    width: 100px;
    margin-bottom: 0px;
  }
  .ui.progress .bar > .progress {
    right: 30%;
    left: 30%;
  }
</style>
